<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secrets keeper</title>
  <link rel="stylesheet" href="../styles/style.css">

  <style>
    body {
      background-color: rgb(9, 18, 32);
    }

    .colortext {
      background-color:rgb(255, 201, 201);
      color:black;
    }

    .button {
      width: 400px;
      height: 25px;
      background-color: rgb(177, 136, 136);
      color:black;
    }

    .form-title {
      color: white;
    }

  </style>
</head>

<body>
  <main>
    <center>
    <form method="post" action="/">
      <h1 class="form-title">
        Secrets keeper
      </h1>

      <div class="form-fields">
        <div class="form-field">
          <td><textarea class="colortext" name="" id="" cols="50" rows="20" placeholder="Input your message"></textarea></td>
        </div>
      </div>

      <div class="form-buttons">
        <button class="button" type="submit" style="margin-top: 5px;">Save</button>
      </div>

    </form>

  </center>
  </main>  
</body>

</html>